body{
    background-color: green;
    color: yellow;
    font-family:Arial, Helvetica, sans-serif
}
header{
    background-color:#099989;
    color:#FFF2EB
 text-align:antiquewhite
 padding:blanchedalmond
}

h1{
    font: size 3px;
}

h2{
    font: size 36px;
}

p{
    font: size 18px;
    line-height: 1.6;
}